$mobile: "only screen and (max-width: 500px)";
$tablet: "only screen and (max-width: 700px)";
/*
Media Queries for usage 
				@media #{$mobile} for mobile
				@media #{$tablet} for table

 Breakpoints at 
	Mobile at 500px
	Table 	800px 
*/

/*
 DRY: for usage @include flex(content, direction)
 For defaults
    justify-content : flex-start
    flex-direction : row
*/
@mixin flex($content, $direction) {
	display: flex;
	justify-content: $content;
	flex-direction: $direction;
}

// Vaccine colors
$gray-dark: #192029;
$gunmetal: #1f242d;

// menubar
.menubar {
	@include flex(space-around, row);
	background: #010915;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	// position: fixed;
	// top: 0;
	width: 100%;
	color: #f4f4f4;

	.tittle {
		width: 100%;
		text-align: left;
		padding-left: 2%;
		font-size: 1.5rem;
		padding: 2% 0;
	}
	.menubar-links {
		@include flex(space-around, row);
		width: 100%;
		margin: auto;
		a {
			text-decoration: none;
			color: #fff;
		}
	}
	.mobile {
		display: none;
	}
	@media #{$mobile} {
		.title {
			font-size: 1.5rem;
		}
		.menubar-links {
			display: none;
		}
		.mobile {
			display: block;
			img {
				filter: invert(100%);
				background: white;
				width: 40px;
			}
		}
	}
}

// Vaccine Dashboard's header info
.vacine-dash-header {
	background: $gunmetal;
	color: white;
	padding: 2% 5%;
	.date {
		display: flex;
		flex-direction: row;
		.day {
			color: #ffc428;
		}
		.format {
			padding-left: 4px;
			color: #ababab;
		}
	}
	.cards {
		@include flex(space-between, row);
		.card {
			border: 2px solid #dbbc6c;
			padding: 2% 3%;
			border-radius: 4px;
			p {
				font-size: 3rem;
				color: #f4b000;
			}
			.stats {
				@include flex(space-between, row);
				img {
					padding-left: 6px;
				}
			}
		}
	}
}
// foot
.foot {
	@include flex(space-around, row);
	background: #010915;
	color: #bdbdbd;
	padding: 1% 3%;
	.foot-content {
		width: 100%;
		font-size: 0.65rem;
		margin: auto;
		padding: 2%;
	}
	.foot-copyright {
		@include flex(flex-end, row);
		width: 100%;
		font-size: 2rem;
		padding: 0 2%;
		margin: auto;
		@include flex(flex-end, row);
		a {
			margin: auto 2% auto 0;
		}
		img {
			background: #bdbdbd;
			border-radius: 100%;
		}
	}
	@media #{$mobile} {
		@include flex(center, column);
		padding: 2% 0;
		.foot-copyright {
			font-size: 1rem;
			margin-top: 2%;
			@include flex(center, row);
		}
	}
}

// main
.main {
	background-color: $gunmetal;
}

body {
	background-color: $gray-dark;
}
