.about {
  .tittle {
    @include flex(center, row);
    align-items: center;
    background: url('../assets/virus-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    height: 442px;
    color: white;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    h1 {
      font-size: 2.2rem;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1190px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    .card {
      padding: 1% 2%;
      width: 300px;
      color: white;
      @media #{$tablet} {
        width: 100%;
      }
    }
  }
  @media #{$mobile} {
    .title {
      height: 310px;
    }
    .cards {
      @include flex(flex-start, row);
      .card {
        padding: 2% 3%;
        width: 100%;
      }
    }
  }
  @media #{$tablet} {
    .title {
      height: 372px;
      margin-bottom: -6%;
    }
  }
}
