// foot
.foot {
  @include flex(space-around, row);
  background: $midnight;
  color: #bdbdbd;
  padding: 2rem 2.5rem;
  align-items: baseline;
  .foot-content {
    width: 100%;
    font-size: 0.75rem;
    margin: auto;
    margin-right: 3%;
  }
  .foot-copyright {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    font-size: 1.05rem;
    .link {
      color: white;
    }
  }
  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    padding: 2.5% 4% 3.5% 3%;
    .foot-copyright {
      @include flex(space-between, row-reverse);
      padding: 2%;
      width: 60%;
      margin: 0;
    }
    .foot-content {
      margin-left: auto;
      padding: 0% 7% 0% 2%;
    }
  }
}
