.menubar {
  @include flex(space-around, row);
  background: $midnight;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #f4f4f4;
  z-index: 4;
  padding: 1rem 0;
  .tittle {
    width: 100%;
    padding-left: 3%;
    .subtitle-name {
      font-size: 2rem;
      // padding-left: 1rem;
    }
  }

  .menubar-links {
    @include flex(flex-end, row);
    width: 100%;
    margin: auto;
    padding-right: 2%;
    .sms {
      border: 1px solid white;
      border-radius: 4px;
      margin-right: 2%;
    }
    .sms:hover {
      border-color: $link-hover-color;
    }

    a {
      text-decoration: none;
      color: #fff;
      padding: 6px 10px;
      font-size: 1.05rem;
    }
    a:hover {
      color: $link-hover-color;
      //  border: 1px solid #f4b000;
    }
    .menubar-right {
      font-size: 1.05rem;
      :hover {
        color: $gold;
        // TODO: overridden by .menubar .menubar-links a:hover
        // (Just a few lines above)
      }
    }
  }
  .mobile {
    display: none;
  }
  @media #{$mobile} {
    .title {
      font-size: 1.5rem;
    }
    .menubar-links {
      display: none;
    }
    .mobile {
      display: block;
      margin: auto;
      padding-right: 10px;
      img {
        filter: invert(100%);
        background: white;
        width: 40px;
      }
    }
  }
}

// Vaccine Dashboard's header info
.vacine-dash-header {
  color: white;
  .country-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .date {
    display: flex;
    flex-direction: row;
    .day {
      color: $highlight-text-color;
    }
    .format {
      padding-left: 4px;
      color: #ababab;
    }
  }
  .content-wrapper {
    background-color: $midnight;
    border-radius: 6px;
    .cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-radius: 6px;
      .card {
        background: #19202a;
        border: 2px solid $border-color;
        padding: 2rem;
        border-radius: 8px;
        width: 300px;
        margin: 1rem;
        .count {
          font-size: 3rem;
          color: $highlight-text-color;
        }
      }
    }
    .table {
      padding: 1rem;
      .menu {
        overflow-x: scroll;
      }
    }
  }
}
