.map-title {
  font-size: 1.7rem;
  color: white;
  padding-top: 2%;
  padding-left: 5%;

  @media (max-width: 991px) {
    display: none;
  }
}

.map-wrapper {
  height: 700px;
  min-width: 600px;

  @media #{$mobile} {
    display: none;
  }

  @media (max-width: 1199px) {
    padding: 2% 0;
  }

  padding-bottom: 6%;
  margin-top: 10%;

  @media (max-width: 600px) {
    margin-top: 0;
    padding: 0 5%;
  }
}
