// The heading of the table underneath the counting cards
// (dashtopper)
.trials {
  font-size: 1.3rem;
  color: white;
  padding-top: 2%;
}

.table {
  margin-top: 10px;
  color: white;
  height: 400px;
  overflow: scroll;
  background: #2c3341;
  border-radius: 15px;
  padding: 6px;
  .title {
    @include flex(space-between, row);
    h4 {
      margin: auto;
      padding-top: 4px;
    }
    .sponsor {
      width: 100%;
      text-align: left;
    }
    .country {
      width: 100%;
      text-align: left;
    }
    .phase {
      width: 100%;
      text-align: left;
    }
    .type {
      width: 100%;
      text-align: left;
    }
  }
  .content {
    @include flex(space-between, row);
    .sponsor {
      width: 100%;
      color: green;
    }
    .country {
      width: 100%;
      text-align: left;
    }
    .phase {
      width: 100%;
      text-align: left;
    }
    .intervention_type {
      width: 100%;
      text-align: left;
    }
  }
  .content:hover {
    background: rgba(161, 161, 161, 0.5);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-left: 1%;
}

// Table

.ui-left-aligned-container {
  margin-left: 2.5%;
}

$tableHover: rgba(161, 161, 161, 0.5);
$hoverShadow: #40495b;
.table-wrapper {
  @media #{$desktop} {
    .table {
      text-align: left;
      overflow: hidden;
      width: 85%;
      font-size: 1rem;
      margin: 0 auto;
      display: table;
      padding: 0 0 8em 0;
      background-color: #2c3341;
      // border-radius: 15px;
      border-collapse: collapse;
      th {
        font-weight: bold;
        font-size: 1em;
        text-align: left;
        color: #a1a1a1;
        padding: 1.5rem;
        border-bottom: #ffffff 1px solid;
      }
      td {
        font-weight: normal;
        color: #ffffff;
        font-size: 1em;
        padding: 1rem;
        &:hover {
          color: $gunmetal;
        }
      }
      tbody tr {
        &:hover {
          background-color: $tableHover;
          color: $gunmetal;
          font-weight: bold;
          transition-delay: 0s;
          transition-duration: 0.4s;
          transition-property: all;
          transition-timing-function: line;
        }
      }
    }
  }
  @media #{$tablet} {
    .table {
      text-align: left;
      overflow: hidden;
      width: 80%;
      font-size: 1rem;
      margin: 0 auto;
      display: table;
      th {
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        color: #dbbc6c;
        padding: 0.3rem;
        background-color: #2c3341;
      }

      td {
        font-weight: normal;
        color: white;
        font-size: 1em;
        padding: 0.3rem;
        &:hover {
          background-color: $tableHover;
          color: $gunmetal;
        }
        &:first-child {
          color: white;
          &:hover {
            color: $gunmetal;
          }
        }
      }
    }

    overflow-x: scroll;
    .table {
      margin-top: 10px;
      border-radius: 10px;
      th {
        padding: 5px 10px;
        text-align: left;
        color: white;
        border: none;
      }
      td {
        width: fit-content;
        &:nth-child(1) {
          .country {
            color: #4d4d4d;
          }
          white-space: nowrap;
        }
        &:nth-child(4) {
          color: #e55465;
        }
        &:nth-child(5) {
          color: #dbbc6c;
        }
      }
    }
  }
}
.table-wrapper::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  border-radius: 0;
  background: white;
}

.table-wrapper::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  border-radius: 0;
  background: white;
}
.table-wrapper::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  border-radius: 0;
  background: white;
}
