// Vaccine colors
$gold: #f4b000;
$gray-dark: #19202a;
$gunmetal: #1f242d;
$midnight: #010915;

// Media Queries
$mobile: "only screen and (max-width: 500px)";
$tablet: "only screen and (max-width: 700px)";
$desktop: "only screen and (min-width: 701px)";
