// Vaccine colors
$gold: #f4b000;
$gray-dark: #192029;
$gunmetal: #1f242d;

body {
  background-color: $gray-dark;
}

.main {
	background-color: #010915;
}

.ui.inverted.menu {
	background-color: $gunmetal;
}

.ui.secondary.inverted.pointing.menu {
	border-color: transparent;
	border-radius: 0;
}

.ui.secondary.inverted.menu a.active.item {
	color: $gold!important;
	border-bottom-color: $gold!important;
}

.ui.secondary.inverted.menu a.item {
	border-bottom-color: rgba(255,255,255,.7)!important;
}

.ui.secondary.inverted.menu a.item:hover {
	color: $gold!important;
}

.trials {
	font-size: 1.3rem;
	color: white;
}

.map-title {
	font-size: 1.7rem;
	color: white;
	padding-top: 2%;
	padding-left: 5%;

	@media (max-width: 991px) {
		display: none;
	}
}

.map-wrapper {
	@media (max-width: 991px) {
		padding: 2% 5%;
	}
}