// Vaccine colors
$gold: #f4b000;
$gray-dark: #192029;
$gunmetal: #1f242d;

body {
  background-color: $gray-dark;
}

.main {
	background-color: $gunmetal;
}

.ui.inverted.menu {
	background-color: $gunmetal;
}

.ui.secondary.inverted.menu a.active.item {
	color: $gold!important;
	border-bottom-color: $gold!important;
}

.ui.secondary.inverted.menu a.item {
	border-bottom-color: rgba(255,255,255,.7)!important;
}

.ui.secondary.inverted.menu a.item:hover {
	color: $gold!important;
}

.trials {
	font-size: 1.3rem;
	color: white;
}

.map-wrapper {
	height: 60vh;
}